node_modules
dist
coverage
*.tsbuildinfo
src/generated/prisma
rascunho.txt

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

/src/generated/prisma
